/* 1 задача - (Создайте три колонки с равной шириной */
.qwe {
    display: flex;
    column-count: 3;
}

.qwe p {
    column-width: 200px;
}

/* 2 задача - (Установите отступ между колонками на 10px) */
div {
    column-gap: 10px;
}

/* 3 задача - (Создайте две колонки, где первая колонка в два раза шире второй) */
.ewq {
    display: flex;
    column-count: 2;
}

.ewq p:first-child {
    column-width: 20em;
}

.ewq p:last-child {
    column-width: 10em;
}

/* 4 задача - (Установите фон для колонок на светло-желтый) */
p {
    background: lightyellow;
}

/* 5 задача - (Сделайте колонки отзывчивыми, чтобы они занимали 100% ширины при узком экране) */
@media (max-width: 1500px) {
    .qwe p {
        width: 100%;
    }

    .ewq p:first-child {
        width: 100%;
    }

    .ewq p:last-child {
        width: 50%;
    }
}

/* 6 задача - (Создайте упорядоченный список с нумерацией римскими цифрами) */
ol {
    list-style: upper-roman;
}

/* 7 задача - (Создайте упорядоченный список с нумерацией римскими цифрами) */
ol {
    font-weight: bold;
}

/* 8 задача - (Измените маркеры списка на кружки (circle)) */
ul {
    list-style: circle;
}

/* 9 задача - (Установите межстрочный интервал (line-height) для элементов списка на 1.8) */
li {
    line-height: 1.8em;
}

/* 10 задача - (Измените цвет маркеров списка на синий) */
ul {
    color: blue;
}

ul span {
    color: black;
}